<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Infopipe</title>
<style>
body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background-color: white;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  position: relative;
}
pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
</style>

<body>
<h1>API (kinda)</h1>
Some endpoints require you to specify your secret key that you get from registering. You can do so as either GET or POST parameter.

<h2>Registering</h2>
<pre>
$ curl http://example.com/register/pete
{
  "key": "ThSPyHfcvc",
  "user": "pete"
}
</pre>
You'll get a randomly generated secret key to use for doing your config etc. Make sure to not tell it to other people. No, you can't change it.

<h2>Uploading Your Config</h2>
<pre>
curl -X POST -H "Content-Type: application/json" -d @- "http://example.com/pete/config?key=ThSPyHfcvc" << EOF
{
    "nodes": [
        {
            "name": "ytrss",
            "type": "rss",
            "feeds": [
                "https://www.youtube.com/feeds/videos.xml?channel_id=UChWv6Pn_zP0rI6lgGt3MyfA",
                "https://www.youtube.com/feeds/videos.xml?user=mikeselectricstuff",
                "https://www.youtube.com/feeds/videos.xml?user=jimmydiresta"
            ]
        },
        {
            "name": "boltr",
            "type": "regex",
            "regex": "BOLTR",
            "depend": ["ytrss"]
        }
    ]
}
EOF

{"success": true}
</pre>

<h2>Nodes</h2>
A user's configured nodes can be listed with /&lt;user&gt;/nodes
<pre>
$ curl http://example.com/pete/nodes
[
    "ytrss",
    "boltr"
]
</pre>

A node's output with /&lt;user&gt;/nodes/&lt;node&gt;
<pre>
$ curl http://example.com/pete/nodes/ytrss
[
  {
    "content": "", 
    "id": "yt:video:-siuk4p4dO0", 
    "link": "https://www.youtube.com/watch?v=-siuk4p4dO0", 
    "source": "ytrss", 
    "timestamp": 1516987343, 
    "title": "Rohde & Schwarz RTM3004 oscilloscope first look."
  }, 
  {
    "content": "", 
    "id": "yt:video:1jYJHy4uKp8", 
    "link": "https://www.youtube.com/watch?v=1jYJHy4uKp8", 
    "source": "ytrss", 
    "timestamp": 1523586018, 
    "title": "DiResta Jigsaw Puzzle for Lorde"
  }, 
  {
    "content": "", 
    "id": "yt:video:2WY3O26YYl8", 
    "link": "https://www.youtube.com/watch?v=2WY3O26YYl8", 
    "source": "ytrss", 
    "timestamp": 1510943375, 
    "title": "Hackaday Supercon 2017 Badge."
  }, 
  ...
]
</pre>

Or as an atom feed if you append &amp;f=rss
<pre>
$ curl http://localhost:5000/peter/nodes/ytrss?f=rss
<xmp>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title type="text">peter/ytrss</title>
  <id>http://localhost:5000/peter/nodes/ytrss?f=rss</id>
  <updated>2018-06-12T06:19:30Z</updated>
  <link href="http://localhost:5000/" />
  <link href="http://localhost:5000/peter/nodes/ytrss?f=rss" rel="self" />
  <generator>Werkzeug</generator>
  <entry xml:base="http://localhost:5000/peter/nodes/ytrss?f=rss">
    <title type="text">Rohde &amp; Schwarz RTM3004 oscilloscope first look.</title>
    <id>yt:video:-siuk4p4dO0</id>
    <updated>2018-01-26T18:22:23Z</updated>
    <author>
      <name>peter/ytrss</name>
    </author>
   </entry>
</xmp>
   ...
</pre>
</body>
</html>
